<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>

        <add name="Componente.AccesoDatos.Properties.Settings.StandbyConnectionString"
            connectionString="Data Source=SVCG102;Initial Catalog=Standby;User ID=usrprueba;Password=usrprueba"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>